<amexio-row *ngIf="Role()=='SUPERADMIN' ">
 <amexio-column size="12">
    <amexio-nav [title]="' ИНВЕНТАРИЗАЦИЯ '"
			[enable-side-nav-position]="false">

    <amexio-nav-item position-right
      [type]="'link'" 
      [title]="' Вход'"  
	  [icon]="'fa fa-sign-in fa-fw'"
      (onNavItemClick)="onClick('/jwtLogin')">
    </amexio-nav-item>
  </amexio-nav>
  </amexio-column>

</amexio-row>

<amexio-row *ngIf="Role()=='' ">
 <amexio-column size="12">
    <amexio-nav [title]="' ИНВЕНТАРИЗАЦИЯ '" [enable-side-nav-position]="false">
	<amexio-nav-item position-right 
 [type]="'link'" 
[title]= "' Справочник'" 
[icon]= "'fa fa-id-card-o fa-fw'" 
(onNavItemClick)="onClick('/invd')" 
></amexio-nav-item>



<amexio-nav-item position-right 
 [type]="'link'" 
[title]= "' Группы'" 
[icon]= "'fa fa-map-marker fa-fw'" 
(onNavItemClick)="onClick('/invg')" 
></amexio-nav-item>

<amexio-nav-item position-right 
 [type]="'link'" 
[title]= "' Запчасти'" 
[icon]= "'fa fa-map-marker fa-fw'" 
(onNavItemClick)="onClick('/invi')" 
></amexio-nav-item>


<amexio-nav-item position-right 
 [type]="'link'" 
[title]= "' Структура склада'" 
[icon]= "'fa fa-map-marker fa-fw'" 
(onNavItemClick)="onClick('/invwh')" 
></amexio-nav-item>

<amexio-nav-item position-right 
 [type]="'link'" 
[title]= "' Заполнение склада'" 
[icon]= "'fa fa-map-marker fa-fw'" 
(onNavItemClick)="onClick('/invw')" 
></amexio-nav-item>

<amexio-nav-item position-right 
 [type]="'link'" 
[title]= "' Движение'" 
[icon]= "'fa fa-bar-chart fa-fw'" 
(onNavItemClick)="onClick('/invm')" 
></amexio-nav-item>

<amexio-nav-item position-right 
 [type]="'link'" 
[title]= "' Инвентаризация'" 
[icon]= "'fa fa-bar-chart fa-fw'" 
(onNavItemClick)="onClick('/inva')" 
></amexio-nav-item>
	
  </amexio-nav>
  </amexio-column>
  


</amexio-row>




