<!--Error dialogue-->
<amexio-window [show-window]="errorFlag"
               [header]="true"
			   [footer]="true" 
			   [draggable]="true" 
			   [vertical-position]="'center'" 
			   [horizontal-position]="'center'" 
			   [closable]="false"
               >
	<amexio-header>
        <i class="fa fa-exclamation-triangle"></i> Ошибка
      </amexio-header>
	   <amexio-body>
        <amexio-row>
          <amexio-column [size]="11">
		  <span style="color:red">{{errorMessage}}</span>
		  </amexio-column>
        </amexio-row>
	</amexio-body> 
	<amexio-action> 
	<amexio-row> 
	<amexio-column size="11"> 
     <amexio-button  [label]="'Ok'" (onClick)="errorFlag=false" [type]="'red'" [tooltip]="'Ok'" [icon]="'fa fa-exclamation-triangle'"></amexio-button>
	</amexio-column> 
	</amexio-row> 
	</amexio-action> 
</amexio-window>
<!-- edit row pane -->	 
<amexio-card [show]="true" [header] ="true" [footer] ="true" > 
	  <amexio-header> 
        Перемещение 
<amexio-box *ngIf="valid==false" border-color ="red" border="all" padding="true" background-color="yellow">
	<amexio-label font-color="red"  border="bottom">Ошибка заполнения формы</amexio-label>
</amexio-box>
      </amexio-header> 
     <amexio-body> 
     <amexio-row><amexio-column size="12" >
                    <amexio-text-input [field-label]= "'Штрихкод начальной ячейки '" name ="shCodeFrom"  
                    [place-holder] = "'Штрихкод начальной ячейки '" 
                    [icon-feedback] = "true" [(ngModel)]="currentinvops_move.shCodeFrom" >
                    </amexio-text-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
                    <amexio-text-input [field-label]= "'Штрихкод конечной ячейки'" name ="shCodeTo"  
                    [place-holder] = "'Штрихкод конечной ячейки'" 
                    [icon-feedback] = "true" [(ngModel)]="currentinvops_move.shCodeTo" >
                    </amexio-text-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
                    <amexio-text-input [field-label]= "'RFID детали'" name ="rfid"  
                    [place-holder] = "'RFID детали'" 
                    [icon-feedback] = "true" [(ngModel)]="currentinvops_move.rfid" >
                    </amexio-text-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
 <amexio-number-input  [enable-popover]= "false" [field-label]="'Количество'" name ="quantity" 
                    [place-holder]="'Количество'" 
            [allow-blank]="false" [error-msg] ="'Не задано: Количество'" 
	 [(ngModel)]="currentinvops_move.quantity"
                    > 
 </amexio-number-input>
     </amexio-column></amexio-row>
	</amexio-body> 
	<amexio-action> 
	<amexio-row> 
	<amexio-column size="12"> 
     <amexio-button  [label]="'Отмена'" (onClick)="onNew();" [type]="'secondary'" [tooltip]="'Отмена'" [icon]="'fa fa-times'"></amexio-button>
     <amexio-button  [label]="'Провести'" (onClick)="save(currentinvops_move)" [type]="'success'" [tooltip]="'Провести'" [icon]="'fa fa-save'"></amexio-button>
	</amexio-column> 
	</amexio-row> 
	</amexio-action> 

</amexio-card> 
 

