@model inv19.ViewModels.Account.LoginViewModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Вход";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
    <h2>Вход в приложение</h2>
    <form method="post" asp-controller="Account" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RememberMe"></label><br />
            <input asp-for="RememberMe" />
        </div>
        <div>
            <input type="submit" value="Войти" />
        </div>
    </form>
    </body>
</html>
